parameters:
	ignoreErrors:
		-
			message: "#^Method GitDevInsights\\\\CodeInsights\\\\Output\\\\FocusChartHTMLFileGenerator\\:\\:__construct\\(\\) has parameter \\$jsonData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/GitDevInsights/CodeInsights/Output/FocusChartHTMLFileGenerator.php

		-
			message: "#^Method GitDevInsights\\\\CodeInsights\\\\Output\\\\FocusChartHTMLFileGenerator\\:\\:writeChartOutputToFile\\(\\) has parameter \\$fileName with no type specified\\.$#"
			count: 1
			path: src/GitDevInsights/CodeInsights/Output/FocusChartHTMLFileGenerator.php

		-
			message: "#^Property GitDevInsights\\\\CodeInsights\\\\Output\\\\FocusChartHTMLFileGenerator\\:\\:\\$jsonData type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/GitDevInsights/CodeInsights/Output/FocusChartHTMLFileGenerator.php

		-
			message: "#^Method GitDevInsights\\\\CodeInsights\\\\Output\\\\LanguageChartHTMLFileGenerator\\:\\:__construct\\(\\) has parameter \\$jsonData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/GitDevInsights/CodeInsights/Output/LanguageChartHTMLFileGenerator.php

		-
			message: "#^Property GitDevInsights\\\\CodeInsights\\\\Output\\\\LanguageChartHTMLFileGenerator\\:\\:\\$jsonData type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/GitDevInsights/CodeInsights/Output/LanguageChartHTMLFileGenerator.php

		-
			message: "#^Method GitDevInsights\\\\CodeInsights\\\\Results\\\\AnalysisResult\\:\\:__toJsonData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/GitDevInsights/CodeInsights/Results/AnalysisResult.php
